# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Ewa - studia\studia z laptopa Macieja\mgr\semestr I\Przetwarzanie_Masywnych_Danych\lab\KafkaProducer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
